<ion-content>
    <body>
 
     <h1> Login </h1>
      <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit(loginForm)">
        <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required>
        <input type="text" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4">
    <hr>
    <input type="submit" value="Login">
    <hr>
    <p>Do you have an account? </p>
    

    <img src="../../assets/icon/TXT_White.png">
    
  


  </form>
 <!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
  </div>
</body>
  </ion-content>
