ion-content {
    --ion-background-color: #28AEBF;
}

.sign-up-form{

   width: 300px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
   background: #28AEBF;
   padding: 20px;
   margin: 8% auto 0; 
   text-align: center;
}

.firstname{
    padding-bottom: 100px
    
}